{% extends 'base.html.twig' %}

{% block title %}Peta Sebaran Mahasiswa
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('libs/leaflet/leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('libs/leaflet/leaflet.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/map.css') }}">
{% endblock %}

{% block body %}
	<nav id="nav" style="opacity: 0" data-show="false">
		<ul>
			{# <li><a href="{{ path('home_galeri') }}">Galeri</a></li> #}
			{# <li><a href="{{ path('home_visi_misi') }}">Visi dan Misi</a></li> #}
			{# <li><a href="{{ path('home_tentang') }}">Tentang</a></li> #}
				<li>
					<a href="{{ path('chart') }}"> Grafik</a>
			</li>
			<li>
				<a href="{{ path('admin') }}">Admin</a>
			</li>
		</ul>
	</nav>

	<div id="nav-button-trigger" onclick="toggleMenu()">
		<svg class="svg-icon" viewbox="0 0 20 20">
			<path fill="black" d="M10,1.445c-4.726,0-8.555,3.829-8.555,8.555c0,4.725,3.829,8.555,8.555,8.555c4.725,0,8.555-3.83,8.555-8.555C18.555,5.274,14.725,1.445,10,1.445 M10,17.654c-4.221,0-7.654-3.434-7.654-7.654c0-4.221,3.433-7.654,7.654-7.654c4.222,0,7.654,3.433,7.654,7.654C17.654,14.221,14.222,17.654,10,17.654 M14.39,10c0,0.248-0.203,0.45-0.45,0.45H6.06c-0.248,0-0.45-0.203-0.45-0.45s0.203-0.45,0.45-0.45h7.879C14.187,9.55,14.39,9.752,14.39,10 M14.39,12.702c0,0.247-0.203,0.449-0.45,0.449H6.06c-0.248,0-0.45-0.202-0.45-0.449c0-0.248,0.203-0.451,0.45-0.451h7.879C14.187,12.251,14.39,12.454,14.39,12.702 M14.39,7.298c0,0.248-0.203,0.45-0.45,0.45H6.06c-0.248,0-0.45-0.203-0.45-0.45s0.203-0.45,0.45-0.45h7.879C14.187,6.848,14.39,7.051,14.39,7.298"></path>
		</svg>
	</div>

	<div id="map"></div>

	<div id="map-indicator">
		<small>Persebaran Mahasiswa* :</small>
		<ul></ul>
		<span style="font-size: 10px; font-style: italic;">*Data bukan sebenarnya.</span>
	</div>

	<div id="map-popup-wrapper">
		<div id="map-popup-content" class="map-popup-content leaflet-popup-content-wrapper"></div>
		<a href="javascript:void(0)" onclick="closePopup()" class="map-popup-close-button">X</a>
	</div>
{% endblock %}
