<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/page.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<nav id="nav">
				<ul>
					<li>
						<a href="{{ path('home') }}">Home</a>
					</li>
					{# <li><a href="{{ path('home_galeri') }}">Galeri</a></li>
														<li><a href="{{ path('home_visi_misi') }}">Visi dan Misi</a></li>
														<li><a href="{{ path('home_tentang') }}">Tentang</a></li> #}
					<li>
						<a href="{{ path('chart') }}">Grafik</a>
					</li>
					<li>
						<a href="{{ path('admin') }}">Admin</a>
					</li>
				</ul>
			</nav>
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
		</body>
	</html>
